.tugas12 {
  background-color: rgb(238, 173, 165);
  width: 460px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
}
